@import "scss/variables";
@import "scss/mixins";
@import "scss/themes";

.App {
  text-align: left;
  margin: 3.5rem;
  width: 100%;
  max-width: 686px;
  font-size: 16px;
}

.disable {
  color: $gray;
  text-decoration: line-through;
}

.pagination {
  margin-top: 24px;
  max-width: 100%;
  display: none;

  &.-active {
    display: block;
  }
}

.List,
.detailsContainer {
  position: relative;
  padding: 16px;

  @each $name, $value in $themes {
      &.-#{$name} {
        .coloredInput {
          border: 2px solid darken($value, 20%);
            @if $name == "dark" {
              color: $light;
            }
            @else {
              color: $dark;
            }
          background-color: lighten($value, 42.5%);

          &::placeholder {
            @if $name == "dark" {
              color: lighten($gray, 50%);
            }
            @else {
              color: darken($gray, 5%);
            }
          }
        }

        a {
          @if $name == "dark" {
            color: lighten($gray, 47.5%);
          }
          @else {
            color: darken($gray, 5%);
          }
        }

        .pagination__item {
          &:hover,
          a {
            background: darken($value, 20%);
            @if $name == "light" {
              color: $dark;
            }
            @else {
              color: $light;
            }
          }
        }

        .caseList__item {
          background-color: lighten($value, 38.5%);
          border-bottom: 1px solid lighten($value, 38.5%);

          &:nth-child(2n) {
            background-color: lighten($value, 42.5%);
            border-bottom: 1px solid lighten($value, 42.5%);
          }
        }

        .checkItem ~ label {
          border: 2px solid darken($value, 20%);

          svg path {
            fill: darken($value, 20%);
          }
        }

      .tableButton {
        background-color: darken($value, 20%);
        box-shadow: 0 1px 3px rgba($dark, .2);

          @if $name == "light" {
            color: $dark;
          }
          @else {
            color: $light;
          }
        &:hover {
          background: darken($value, 10%);
        }
      }
      @if $name == "nCage" {
        * {
          opacity: .92;
          transition: all .1s ease;

          &:hover {
            opacity: 1;
          }
        }

        background-image: url("images/nCage-background.jpg");
        background-size: cover;
        background-position: 50%;
      }
    }
  }
}

.tableButton {
  border: none;
  margin-left: auto;
  border-radius: 2px;
  cursor: pointer;
  font-size: 13px;
  line-height: 32px;
  padding: 0 10px;
  transition: all .12s ease;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;

  &.ml-0 {
    margin-left: 0;
    border-radius: 0 2px 2px 0;
  }
}

.pagination__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-flow: wrap;
  justify-content: center;

  li {
    margin: 0 16px;
  }
}

#pageInput {
  height: 100%;
  width: 42px;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
}

.coloredInput {
  border: 2px solid darken($primary, 20%);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
  color: darken($gray, 20%);
  background-color: lighten($primary, 42.5%);

  &#newCase,
  &#loadFromServerInput {
    border-radius: 2px 0 0 2px;

    & + button {
      border-radius: 0 2px 2px 0;
    }
  }

  &.-select {
    margin-left: auto;
  }

  &::placeholder {
    color: darken($gray, 5%);
  }
}

#loadFromServerInput {
  box-sizing: content-box;
}

#newCase {
  margin-left: 12px;
  width: 220px;

    & + button {
    max-width: 32px;
  }
}

.pagination__item {
  min-width: 32px;
  width: 32px;
  height: 32px;

  a {
    text-decoration: none;
    background: darken($primary, 20%);
    color: $light;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    border-radius: 2px;
    font-size: 12px;

    &:hover {
      background: darken($primary, 10%);
    }
  }
}

.headerForm {
  display: flex;
  height: 32px;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 16px;

  form {
    display: flex;
    align-items: stretch;
  }

  input {
    padding-left: 8px;
    box-sizing: border-box;
  }

  input,
  button {
    width: 210px;
  }
}

.loadFromServer,
.clearButton {
  margin-left: auto;
}

.caseList {
  @for $i from 1 to 21 {
    $step: 5;
    @include setMaxHeight($i * $step);
  }
}

.caseList__table {
  width: 100%;
  border-collapse: collapse;
  font-weight: 500;

  td, th {
    padding: 0;
    height: 32px;
    position: relative;
  }

  th {
    color: darken($gray, 20%);
  }

  .caseList__item {
    background-color: lighten($primary, 38.5%);
    border-bottom: 1px solid lighten($primary, 38.5%);

    &:nth-child(2n) {
      background-color: lighten($primary, 42.5%);
      border-bottom: 1px solid lighten($primary, 42.5%);
    }

    td:first-child,
    th:first-child {
      padding-left: 4px;
      width: 64px;
      font-weight: 500;
    }
  }
}

.caseList button {
  width: 100%;

  &.deleteButton {
    @extend .tableButton;
  }
}

.width-68 {
  width: 68px;
}

.width-full {
  width: calc(100% - 220px);
}

.width-75 {
  width: 75px;
}

.width-90 {
  width: 120px;
}

span.id {
  color: darken($light, 25%);
  display: inline-block;
  padding-right: 12px;
  font-size: 75%;
}

.preloader__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .5);

  &.-active {
    display: flex;
  }
}

.sortingTable {
  cursor: pointer;
  white-space: nowrap;
  position: relative;

  svg {
    position: absolute;
    top: 3px;
    margin-left: 4px;
  }
}

.detail__subHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  align-items: center;
}

.description {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 60px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 12px;
}

.tableButton {
  @extend .tableButton;
}

.buttonTitle {
  display: inline-block;
  padding-right: 6px;
}


#file {
  padding-left: 0;
  opacity: 0;
  position: absolute;
  left: -9999px;

  & ~ label {
    @extend .tableButton;

    margin-left: 0;
  }
}

#secretString {
  margin-left: 12px;
  font-size: 24px;
  color: darken($gray, 20%);
  font-weight: bold;
  max-width: 132px;
  text-align: center;
}

label[for=secretString] {
  display: block;
  line-height: 28px;
  width: 210px;
}

#saveOnServer {
  margin-right: auto;
  margin-left: 0;
}

.checkItem {
  opacity: 0;
  position: relative;

  & ~ label {
    width: 16px;
    height: 16px;
    background-color: $light;
    display: block;
    position: absolute;
    top: 8px;
    border-radius: 4px;
    border: 2px solid darken($primary, 20%);
    box-sizing: border-box;
    cursor: pointer;

    svg {
      display: none;
      width: 10px !important;
      margin-top: -2px;
      margin-left: 1px;

      path {
        fill: darken($primary, 20%);
      }
    }
  }

  &:checked {
    & ~ label svg {
      display: block;
    }
  }
}

.redColor {
  color: $red;
}

.greenColor {
  color: $green;
}

h1, h2 {
  color: darken($gray, 25%);
}