@import "scss/variables";

.App {
  text-align: left;
  margin: 3.5rem;
  width: 100%;
  max-width: 580px;
  font-size: 16px;
}

.disable {
  color: gray;
  text-decoration: line-through;
}

.pagination {
  margin-top: 24px;
  max-width: 100%;
  display: none;

  &.-active {
    display: block;
  }
}

.List {
  position: relative;
}

.pagination__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-flow: wrap;
  justify-content: space-between;
}

#pageInput {
  height: 100%;
  width: 42px;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
}

.coloredInput {
  border: 1px solid darken($brown, 20%);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
  color: darken($gray, 20%);
  background-color: lighten($brown, 42.5%);
}

.pagination__item {
  min-width: 32px;
  width: 32px;
  height: 32px;

  a {
    text-decoration: none;
    background: darken($brown, 20%);
    color: $light;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    border-radius: 2px;
    font-size: 12px;

    &:hover {
      background: darken($brown, 10%);
    }
  }
}

.headerForm {
  display: flex;
  height: 32px;
  justify-content: flex-start;
  align-items: stretch;

  form {
    display: flex;
    align-items: stretch;
  }

  input {
    padding-left: 8px;
  }
}

.loadFromServer,
.clearButton {
  margin-left: auto;
}

@mixin setMaxHeight($count) {
  &.-recordsCount-#{$count} {
    height: ($count + 1)*32+px;
  }
}

.caseList {
  @for $i from 1 to 21 {
    $step: 5;
    @include setMaxHeight($i * $step);
  }
}

.caseList__table {
  width: 100%;
  border-collapse: collapse;

  td, th {
    padding: 0;
    height: 32px;

    a {
      color: darken($gray, 10%);
    }
  }

  .caseList__item {
    background-color: lighten($brown, 38.5%);

    &:nth-child(2n) {
      background-color: lighten($brown, 42.5%);
    }

    td:first-child,
    th:first-child {
      padding-left: 4px;
      width: 64px;
    }
  }
}

.caseList button {
  width: 100%;
}

.width-24 {
  width: 25px;
}

.width-full {
  width: calc(100% - 220px);
}

.width-75 {
  width: 75px;
}

.width-90 {
  width: 120px;
}

#file {
  padding-left: 0;
}

span.id {
  color: $light;
  display: inline-block;
  padding-right: 12px;
  font-size: 75%;
}

.preloader__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .5);

  &.-active {
    display: flex;
  }
}

.sortingTable {
  cursor: pointer;
  white-space: nowrap;
}

.detail__subHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.description {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 60px;
}

.tableButton {
  background-color: darken($brown, 20%);
  border: none;
  box-shadow: 0 1px 3px rgba($dark, .2);
  color: $light;
  margin-left: auto;
  border-radius: 2px;
  cursor: pointer;

  &.ml-0 {
    margin-left: 0;
    border-radius: 0 2px 2px 0;
  }

  &:hover {
    background: darken($brown, 10%);
  }

}

.buttonTitle {
  display: inline-block;
  padding-right: 6px;
}
