.App {
  text-align: left;
  margin: 3.5rem;
  width: 100%;
  max-width: 580px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.disable {
  color: gray;
  text-decoration: line-through;
}

.pagination {
  margin-top: 24px;
  max-width: 100%;
  display: none;
}

.pagination.-active {
  display: block;
}

.pagination__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-flow: wrap;
  justify-content: space-between;
}

#pageInput {
  height: 100%;
  width: 42px;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
}

.pagination__item {
  min-width: 32px;
  width: 32px;
  height: 32px;
}

.pagination__item a {
  color: #bbb;
  text-decoration: none;
  background: #282c34;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #54606B;
  font-size: 12px;
}

.pagination__item.-active a {
  background: #bbb;
  color: #282c34;
}

.pagination__item a:hover {
  background: #54606B;
}

.pagination__item.-active a:hover {
  background: #bbb;
  color: #282c34;
}

.headerForm {
  display: flex;
  height: 32px;
  justify-content: flex-start;
  align-items: stretch;
}

.headerForm form {
  display: flex;
  align-items: stretch;
}

.headerForm input {
  padding-left: 8px;
}

.loadFromServer,
.clearButton {
  margin-left: auto;
}

.caseList.-recordsCount-5 {
  height: 162px;
}

.caseList.-recordsCount-10 {
  height: 297px;
}

.caseList.-recordsCount-25 {
  height: 702px;
}

.caseList.-recordsCount-50 {
  height: 1380px;
}

.caseList.-recordsCount-100 {
  height: 2760px;
}

.caseList__table {
  width: 100%;
}

.caseList button {
  width: 100%;
}

.width-24 {
  width: 25px;
}

.width-full {
  width: calc(100% - 220px);
}

.width-75 {
  width: 75px;
}

.width-90 {
  width: 120px;
}

#file {
  padding-left: 0;
}

span.id {
  color: #aaa;
  display: inline-block;
  padding-right: 12px;
  font-size: 75%;
}

.preloader__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .5);
}

.preloader__container.-active {
  display: flex;
}

.sortingTable {
  cursor: pointer;
}

.sortingTable.-up::after {
  content:'↑';
}

.sortingTable.-down::after {
  content:'↓';
}

.detail__subHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.description {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 60px;
}
