@mixin tableButton {
  background-color: darken($primary, 20%);
  border: none;
  box-shadow: 0 1px 3px rgba($dark, .2);
  color: $light;
  margin-left: auto;
  border-radius: 2px;
  cursor: pointer;
  font-size: 13px;
  line-height: 32px;
  padding: 0 10px;
  transition: all .12s ease;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;

  &.ml-0 {
    margin-left: 0;
    border-radius: 0 2px 2px 0;
  }

  &:hover {
    background: darken($primary, 10%);
  }
}

@mixin setMaxHeight($count) {
  &.-recordsCount-#{$count} {
    height: ($count + 1)*33+px;
  }
}